html, body {
            background: #191A19;
            margin: 12px;
}


.navbar {   
         width: 100%;
         height: 5vh;
         box-sizing: border-box;
         background-color: #1E5128;
         margin-bottom: 10%;
        }  
   
.navbar a { 
            color: #fff;
            font-size: 25px;
            font-style: italic;
            text-decoration: none;
             display: inline-block;
            margin: 10px;
        } 

.container {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));   
            grid-auto-rows: 75px;
            /* THE GRID-AUTO-FLOW IS KNOWN AS AN EXAMPLE OF SOURCE ORDER INDEPENDENCE
            GIVING YOU ALOT OF FLEXIBILITY WHICH MEANS THE GRID CAN ARRANGE THE ITEMS 
            IRRESPECTIVE OF THE ORDER IN THE HTML MARKUP */
            grid-auto-flow: dense;
}

.container > div {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 20px;
                  color: #4E9F3D;  
}

.container > div > img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
}

.horizontal {
             grid-row: span 2;   
}

.vertical {
           grid-column: span 2;
           grid-row: span 2; 
}

.big {
      grid-column: span 2;  
}